
.measure__page{

  .regis__individual{
    display: flex;

    .regis__input-block{
      margin-right: 24px;
      width: 532px;
    }

    .regis__input-block-tel{
      width: 280px;
      margin-right: 0;
    }

  }

  & .date-active{

    & .datepicker{
      display: block;
    }

  }

  .measure{

    &__position-date{
      display: flex;
      align-items: flex-start;

      &-block{
        position: relative;

        .datepicker{
          display: none;
        }

        &-active{
          .datepicker{
            display: block;
          }

          .measure__date-btn{

            margin-bottom: 16px;

            &:after{
              transform: rotate(180deg);
            }
          }
        }

      }
    }

    &__date-btn{
      width: 240px;
      height: 40px;
      border: 1px solid $Grey_3;
      position: relative;
      justify-content: flex-start;
      padding-left: 15px;
      margin-right: 24px;
      @include f_14;
      color: $Black;

      &:after{
        content: '';
        width: 10px;
        height: 5px;
        background: url("../img/arrow.svg") no-repeat;
        display: block;
        position: absolute;
        top: 17px;
        transition: transform ease 0s;
        right: 16px;
        background-size: 10px 5px;
      }
    }

    &__info-block{
      display: flex;
      align-items: center;
      padding-top: 8px;

      & svg{
        margin-right: 11px;
      }

      & p{
        @include f_14;
        color: #858585;
        margin-bottom: 0;
      }

    }

    &__address-position-block{
      display: flex;
      column-gap: 24px;
    }

  }

  .first__products-block{
    margin-bottom: 16px;
  }

  .receipt__total-price-block:last-child{
    margin-bottom: 0;
  }

  .input-addres{
    width: 100%;
  }

  .small-input{
    width: 106px;
  }

  .middle-input{
    width: 150px;
  }

  .open-search-address{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    z-index: 99;

    & .subtitle{
      @include f_12;
      color: $Grey_1;
      margin-bottom: 0;
      padding-left: 16px;
      padding-right: 16px;
    }

    & div{
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 16px;
      padding-right: 16px;

      & .address{
        @include f_14;
        color: $Black;
        margin-bottom: 0;
        cursor: pointer;

        & span{
          font-weight: 700;
        }
      }

      &:hover{
        background-color: $Grey_4;
      }
    }

  }

  .regis__input-block:not(:last-child){
    margin-bottom: 0;
  }

  .map__delivery{
    margin-top: 24px;
  }

  .form-check{
    padding-left: 1.5rem;
  }



}

@media (max-width: 1309.5px) {

  .measure__page .regis__individual .regis__input-block{
    width: calc(50% - 12px);
  }

}

@media (max-width: 1086px) {
  .measure__page .measure__info-block{
    align-items: flex-start;
    padding-top: 0;
  }
}

@media (max-width: 980px) {

  .measure__page .regis__individual .regis__input-block{
    width: 100%;
  }

  .measure__page .measure__position-date{
    flex-direction: column;
  }

  .measure__page .measure__info-block{
    margin-top: 16px;
    align-items: center;
  }

  .measure__page .measure__position-date-block{
    width: 100%;
  }

  .measure__page .measure__position-date-block .measure__date-btn{
    width: 100%;
  }

  .measure__page .regis__input-block:not(:last-child){
    margin-bottom: 24px;
  }

  .map__delivery{
    margin-top: 0px;
  }

  .position-wrapper-steps{
    margin-right: 0;
  }

}

@media (max-width: 767px) {
  .measure__page .measure__address-position-block{
    flex-direction: column;
  }

  .measure__page .measure__date-btn{
    margin-right: 0;
  }

  .small-input{
    width: 100%;
  }

  .middle-input{
    width: 100%;
    margin-bottom: 24px;
  }

  .measure__page .small-input{
    width: 100%;
  }

  .measure__page .middle-input{
    width: 100%;
  }
}